
.container{
    height: calc(100vh - 100px);
    width: 50%;
    display: flex;
    /* padding: 5px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
 }
 
 .wrapper{
     display: flex;
     flex-direction: column;
     color: black;
 }
 .input{
     height: 40px;
     margin-bottom: 20px;
     background-color: transparent;
     color: black;
     padding: 0 10px;
     
 }
 .button{
     background-color: rgb(161, 176, 218);
     color: rgb(243, 238, 238);
     /* width: 50%; */
     height: 40px;
     /* align-items: center; */
     margin-bottom: 20px;
     border: none;
     font-weight: bold;
     font-size: 20px;
     cursor: pointer;
 }
 .button:hover{
     background-color: rgb(12, 12, 12);
     color: white;
 }
 
 .error{
     font-size: 13px;
 }

 .error {
    font-size: 13px;
    font-weight: bold;
    color: red;
  }